{% extends "base.html" %}
{% block h1 %}About the site{% endblock %}
{% block container %}
<p>CivicComments.org is a for profit website aiming to inform citizens about civic issues and to encourage them to post their comments on the site. Note that the site is a .org because .com is taken.</p>
  <p>The site is ran solely by Tim Clemans, featured in a <a href="https://www.nytimes.com/2016/10/23/magazine/police-body-cameras.html">New York Times Magazine cover story about police bodycam transparency</a>. Tim started CivicComments after seeing a land use proposal notice. It doesn't give a url one could use to publicly post their comment. Instead people have to email the city and the comments are posted online on a per comment to download basis. CivicComments downloads those comments automatically and presents them on a single page.</p>
    {% endblock %}
